.connection__form {
    @include flex-djaw(column, center, center,);
    height: 100%;

    &__title {
        margin: 10px 0px;
    }

    &__error {
        color: white;
        background-color: rgb(252, 66, 66);
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    &__nav {
        margin: 20px;
        width: 100%;
        @include flex-djaw(0, space-between, center,); 
    }
}