{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash flash__{{ label }}">
            <p class="flash__message">
                {{ message }}
            </p>
        </div>
    {% endfor %}
{% endfor %}