<footer class="footer">
    <nav class="footer__navigation">
        <ul class="footer__navigation__list">
            <li><a class="footer__navigation__list__link" href="">Condition générale de vente</a></li> 
            <li><a class="footer__navigation__list__link" href="">FAQ</a></li> 
            <li><a class="footer__navigation__list__link" href="">Qui sommes-nous ?</a></li> 
            <li><a class="footer__navigation__list__link" href="">Nous contacter</a></li> 
        </ul>
    </nav>

</footer>