<header class="header">
    <div class="header__head">
        <h1 class="header__head__title">Ludo'Take</h1>
    </div>
    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>
    <nav class="header__navigation">
        
        <input type="checkbox" name="burger-menu" id="burger-menu" class="burger__checkbox">
        <label class="burger" for="burger-menu">
                <div class="burger__line burger__line1"></div>
                <div class="burger__line burger__line2"></div>
                <div class="burger__line burger__line3"></div>
        </label>
        <ul class="header__navigation__list">
            <li class="button__arround"><a class="button button--signin header__navigation__list__button header__navigation__list__button--signin" href="#">s'inscrire</a></li>
            <li class="button__arround"><a class="button button--1 header__navigation__list__button header__navigation__list__button--1" href="#concept">Le concept</a></li>
            <li class="button__arround"><a class="button button--2 header__navigation__list__button header__navigation__list__button--2" href="#games">Nos jeux</a></li>
            <li class="button__arround"><a class="button button--5 header__navigation__list__button header__navigation__list__button--5" href="#offers">Nos offres</a></li>
            <li class="button__arround"><a class="button button--faq header__navigation__list__button header__navigation__list__button--faq" href="#faq">FAQ</a></li>
            <li class="button__arround"><a class="button button--login header__head__button header__head__button--login" href="#"><button>Me connecter</button></a></li>
        </ul>
    </nav>    
</header>
