{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

{# <link rel="stylesheet" href="style.css" /> #}

<div class="container" id="login_container">
    <!-- zone de connexion -->
    
    <form method="POST" class="form-outer">
        <div class ="page slide-page">
            <div class="field">
                <h1 class="title">Connexion</h1>
            </div>
            {# <label><b>Nom d'utilisateur</b></label> #}
            <div class="field">
                <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>
            </div>
            {# <label><b>Mot de passe</b></label> #}
            <div class="field">
                <input type="password" placeholder="Entrer le mot de passe" name="password" required>
            </div>
            <div class="field btns">
                <button type="submit" id='submit' value='LOGIN'> </button>
            </div>
        </div>

    </form>
</div>
  
{% endblock %}