<main>
    <section class="first__section">
        <h1>Bienvenue sur Lud O'thèque</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium totam praesentium aspernatur mollitia quaerat est tempora possimus quidem laudantium, laboriosam incidunt dolor culpa expedita cumque atque fuga sunt eligendi. Magni vitae ipsam unde harum dolore perferendis, facilis ratione ad voluptatibus aliquam fugiat. Hic quisquam commodi maxime officiis laboriosam illo cumque exercitationem consequuntur tenetur! Pariatur, optio tempore? Eaque illum officiis ullam ea, quasi accusantium neque ipsam, laudantium suscipit temporibus amet, error unde excepturi exercitationem qui sunt aperiam incidunt libero sed minus. Facilis quibusdam suscipit quis molestiae velit voluptates amet expedita quam dolorem dicta, beatae nulla harum, nisi mollitia maxime incidunt eos voluptate assumenda cum ea natus minima corrupti. Voluptatibus et perferendis cum enim eaque saepe ex praesentium iste magni sunt. Perspiciatis at, consectetur doloremque quia reiciendis doloribus harum possimus vitae? Facilis quod tenetur voluptas labore ab placeat. Voluptatem pariatur voluptates reprehenderit non soluta repellendus ratione fugiat mollitia, nulla voluptas odio quod delectus consectetur hic eveniet commodi cupiditate enim architecto atque et, id sit voluptate. Qui doloribus accusamus, laboriosam eius consequuntur necessitatibus corrupti numquam iste commodi distinctio, suscipit voluptate dicta fugit quia, molestias sunt nam voluptatum aut aperiam ullam ea vel tenetur! Ducimus blanditiis, magnam, amet eveniet cumque pariatur odio est consequatur quam libero ullam cum eligendi deleniti sequi quis, natus quisquam. Nam libero ad repudiandae maiores sequi, ipsam expedita? Ipsa, iure, reiciendis ut numquam illum dolor et commodi laudantium quas cupiditate delectus totam! Impedit corrupti voluptatum suscipit cumque blanditiis, iusto dolore optio aliquam tempora, quas harum possimus numquam expedita ab nam! Nobis, soluta quaerat officia tempora autem nemo tempore. Sed ullam consequuntur odit esse, harum necessitatibus eveniet deleniti maiores, obcaecati non laborum a deserunt consequatur odio quae voluptates error dolorem dicta quaerat, vel at possimus. Quia dolor aspernatur quos quasi. Exercitationem, explicabo rerum, quae nobis beatae placeat, blanditiis non saepe dolorum aliquid reprehenderit nesciunt doloremque minima dolore voluptate! Voluptatibus repellendus asperiores laboriosam libero voluptatem ratione? Tempora quae voluptate, deserunt nobis cum hic rem facere eligendi! Debitis in ad pariatur, dolore ducimus sequi sunt harum natus quos inventore porro, omnis dignissimos laudantium sint, quae odit distinctio unde reiciendis consequuntur nisi eligendi repudiandae consequatur magni? Repellat veritatis quia omnis similique exercitationem blanditiis, id optio, reiciendis eius, illo officiis eaque quod harum quo corporis numquam necessitatibus! Doloremque obcaecati accusantium nesciunt architecto voluptas cumque nulla expedita maiores. Iusto ipsum minima culpa quae dolorem quisquam ex facere praesentium nostrum ea totam, tenetur magni voluptatem recusandae dolorum.</p>
    </section>
    <section class="container__slider">
        <div class="slider">
        
            <a href="#"><img src="img/clank.jpg" alt="boite du jeu clank" class="img__slider active"></a>
            <a href="#"><img src="img/concept.jpg" alt="boite du jeu concept" class="img__slider"></a>
            <a href="#"><img src="img/galerapagos.jpg" alt="boite du jeu galerapagos" class="img__slider"></a>
            <a href="#"><img src="img/sheriff-of-nottingham.jpg" alt="boite du jeu sheriff de nottingham" class="img__slider"></a>
            <a href="#"><img src="img/tsunami-island.jpg" alt="boite du jeu tsunami island" class="img__slider"></a>

            <div class="next">
                <i class="fas fa-chevron-right"></i>
            </div>

            <div class="previous">
                <i class="fas fa-chevron-left"></i>
            </div>
        </div>
    </section>

     {# end container of carousel #}
     {# start category #}
    <section class="container category-games__container">
        <ul class="category-games">
            <a class="button button--category category-games__button" href="#"><li class="">Cat1</li></a>
            <a class="button button--category category-games__button" href="#"><li class="">Cat2</li></a>
            <a class="button button--category category-games__button" href="#"><li class="">Cat3</li></a>
        </ul>
    </section>

    {# Start crush card  #}



{# end crush card #}
{# start crush card second test #} 
        <h1>Nos coups de coeur</h1>
        <section class="crush">
            <a href="#" class="crush__card">
                <img src="img/clank.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta placeat odio tempore id sunt nihil dolores excepturi aperiam corporis repudiandae asperiores, itaque nostrum explicabo officiis quis dolor perspiciatis? Nihil...</p>
                <p class="crush__card__admin-name"><em>Romain vous conseil</em></p>
            </a>
            <a href="#" class="crush__card">
                <img src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta placeat odio tempore id sunt nihil dolores excepturi aperiam corporis repudiandae asperiores, itaque nostrum explicabo officiis quis dolor perspiciatis? Nihil...</p>
                <p class="crush__card__admin-name"><em>Romain vous conseil</em></p>
            </a>
            <a href="#" class="crush__card">
                <img src="img/tsunami-island.jpg" alt="boite du jeux clank"  class="image crush__card__image">
                <h3 class="crush__card__title">Clanck</h3>
                <p  class="crush__card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dicta placeat odio tempore id sunt nihil dolores excepturi aperiam corporis repudiandae asperiores, itaque nostrum explicabo officiis quis dolor perspiciatis? Nihil...</p>
                <p class="crush__card__admin-name"><em>Romain vous conseil</em></p>
            </a>
        </section>

{# end crush card second test #}
{# start carousel secondary #}
        <section class="carousel">
            <div class="carousel__arrow carousel__arrow--previous"><</div>
                <div class="carousel__window">
                    <div class="carousel__window__slider">
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/clank.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/tsunami-island.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/tsunami-island.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/sheriff-of-nottingham.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        <div class="carousel__window__slider__card">
                            <div class="carousel__window__card">
                                <img class="image carousel__window__card__image" src="img/clank.jpg" alt="boite du jeux clank">
                                <h3 class="carousel__window__card__title" class="crush__card__title">Sheriff of Nottingham</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <div class="carousel__arrow carousel__arrow--next">></div>
        </section>
{# end carousel secondary #}

</main>