<main>
    <section class="visitor__section visitor__section--join">
        <h2>Des jeux livrés chez toi en un clique</h2>
        <p>En vrai il faut 12 cliques, et encore plus ça peut même être après demain pour la livraison, mais on t'aime tout de même</p>
        <form class="visitor__section__form">
        <label for="email">adresse e-mail</label>
            <input type="email" id="email" name="email">
            <button> C'est parti !</button>
        </form>
    </section>

    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>

    <section class="visitor__section visitor__section--concept" id="concept">
        <h2>Le concept</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium asperiores perferendis commodi vitae, suscipit architecto itaque molestiae dignissimos hic esse iusto expedita, earum reprehenderit illo libero autem corporis magnam ipsam quae. Est rerum dolor alias quis dolorem placeat minima ullam cum asperiores, ratione porro nihil culpa dolores illo. Eaque eligendi earum distinctio vitae numquam quae consequatur rerum libero repudiandae saepe accusantium iusto id vel molestiae doloribus enim voluptas, ab nisi aliquam quos exercitationem. Saepe qui, praesentium error obcaecati hic fugit veritatis soluta necessitatibus dolore eveniet architecto quae. Nam, animi enim iste amet cum voluptas! Cumque culpa fuga quibusdam odit.</p>
    </section>

    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>
    
    <section class="visitor__section visitor__section--games" id="games">
        <h2>Nos jeux</h2>
        <p>Bla-bla-bla</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium asperiores perferendis commodi vitae, suscipit architecto itaque molestiae dignissimos hic esse iusto expedita, earum reprehenderit illo libero autem corporis magnam ipsam quae. Est rerum dolor alias quis dolorem placeat minima ullam cum asperiores, ratione porro nihil culpa dolores illo. Eaque eligendi earum distinctio vitae numquam quae consequatur rerum libero repudiandae saepe accusantium iusto id vel molestiae doloribus enim voluptas, ab nisi aliquam quos exercitationem. Saepe qui, praesentium error obcaecati hic fugit veritatis soluta necessitatibus dolore eveniet architecto quae. Nam, animi enim iste amet cum voluptas! Cumque culpa fuga quibusdam odit.</p>
        <a href="#" class="button button--signin">En voir plus...</a>
    </section>

    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>
    
    <section class="visitor__section visitor__section--advice" id="advice">
        <h2>Nos Conseils</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium asperiores perferendis commodi vitae, suscipit architecto itaque molestiae dignissimos hic esse iusto expedita, earum reprehenderit illo libero autem corporis magnam ipsam quae. Est rerum dolor alias quis dolorem placeat minima ullam cum asperiores, ratione porro nihil culpa dolores illo. Eaque eligendi earum distinctio vitae numquam quae consequatur rerum libero repudiandae saepe accusantium iusto id vel molestiae doloribus enim voluptas, ab nisi aliquam quos exercitationem. Saepe qui, praesentium error obcaecati hic fugit veritatis soluta necessitatibus dolore eveniet architecto quae. Nam, animi enim iste amet cum voluptas! Cumque culpa fuga quibusdam odit.</p>
        <img src="https://cdn-s-www.republicain-lorrain.fr/images/73B0F103-9ED6-4229-9FC4-C904BFA8BDE5/NW_listE/les-familles-se-retrouveront-avec-le-sourire-autour-de-jeux-de-societe-photo-rl-thierry-nicolas-1573572025.jpg" alt="Des personnes souriantes autour d'un super jeu de société">
    </section>

    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>

    <section class="visitor__section visitor__section--details" id="details">
        <h2>Aperçu détaillé</h2>
        
        <img src="" alt="Un extrait photo de la page d'accueil d'un abonné">
    </section>

     <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>
    
    <section class="visitor__section visitor__section--new" id="new">
        <h2>Des nouveautés avant l'heure</h2>
        <img src="" alt="Un jeu fraichement sorti dans les bacs">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium asperiores perferendis commodi vitae, suscipit architecto itaque molestiae dignissimos hic esse iusto expedita, earum reprehenderit illo libero autem corporis magnam ipsam quae. Est rerum dolor alias qui</p>
        
    </section>
    
    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>

    <section class="visitor__section visitor__section--crush" id="crush">
        <h2>Vos listes et coups de coeur </h2>
        <p>Accéder a votre liste de souhait, vos favoris et la possibilité de créer vos top liste selon vos envie</p>   
    </section>

    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>

    <section class="visitor__section visitor__section--delivery" id="delivery">
        <img src="" alt="Personnage qui porte un carton">
        <h2>A la maison, en déplacement. Tu cliques, on livre en 24/48h!</h2>
    </section>

    <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>

    <section class="visitor__section visitor__section--offers" id="offers">
        <h2>Nos offres</h2>
        
        <div class="offers__container">
            <div class="offers__container__standard">
                <h4>Standard</h4>
                <p>9,99€</p>
                <p>7 juex chaque mois</p>
            </div>
        </div>
        <a href="#" class="button button--signin">C'est trop bien !!! Je m'inscris</a>
    </section>
      <div class="header__separate">
        <div class="header__separate__line"></div>
    </div>

    <section class="visitor__section visitor__section--faq" id="faq">
        <h2>Foire Aux Questions</h2>
        <div class="faq__container">
            <div class="faq__container__question">
                <h3>7 jeux par mois ? Donc 14,99€ j'si 12 jeux ?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
            <div class="faq__container__question">
                <h3>C'est quoi la location premium?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
            <div class="faq__container__question">
                <h3>Quelles sont les délais de livraison?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
            <div class="faq__container__question">
                <h3>Si je veux un jeu que vous n'avez pas?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
            <div class="faq__container__question">
                <h3>Si j'abîme un le jeux comment fait-on ?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
            <div class="faq__container__question">
                <h3>Si il manque des pièces?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
                
            </div>
            <div class="faq__container__question">
                <h3>Je voudrais connaître la règle avant de recevoir!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum est quo nisi eaque? Culpa error obcaecati quibusdam beatae impedit.</p>
                
            </div>
            <div class="faq__container__question">
                <h3>Je veux plus de jeux !!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum est quo nisi eaque? Culpa error obcaecati quibusdam beatae impedit.</p>
                
            </div>
            <div class="faq__container__question">
                <h3>Une livraison par mois ce n'est pas assez !!!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsum est quo nisi eaque? Culpa error obcaecati quibusdam beatae impedit.</p>
                
            </div>
            
        
        </div>
        
    </section>
    
</main>
