<main>
    <div class="header__separate">
        <div class="header__separate__line" id="email"></div>
    </div>

    <section class="visitor__section visitor__section--join">
        <h2 class="visitor__section__title">Des jeux livrés chez toi en un clique</h2>
        <p class="visitor__section__paragraph">En vrai il faut 12 cliques, et encore plus ça peut même être après demain pour la livraison, mais on t'aime tout de même</p>
        <form class="visitor__section__form">
        <label for="email">adresse e-mail</label>
            <input type="email" id="email" name="email">
            <button> C'est parti !</button>
        </form>
    </section>

    <div class="header__separate">
        <div class="header__separate__line" id="concept"></div>
    </div>

    <section class="visitor__section visitor__section--concept">
        <h2 class="visitor__section__title">Le concept</h2>
        <p class="visitor__section__paragraph">Parce que acheter un jeu peu couter cher, parce que produire un jeu joue sur la santé de la planète. Pour éviter de solliciter la fabrication d'un jeu ou encore
        sa distribution en camion / bateau. Nous avons décider de pousser au maximum l'utilisation d'un jeu de société. Concrètement, nous trouvons le jeu en occasion, dans un bon état voir proche du neuf que nous vous proposons en location. Celui-ci sera remplacé uniquement lorsqu'il aura donné sa dernière partie pour partir la tête haute et d'avoir fait vivre des émotions à une dernière famille ou groupe d'amis! Jeux de société, organisation de soirée jeu autour d'une table et bien plus à découvrir.</p>
    </section>

    <div class="header__separate">
        <div class="header__separate__line" id="games"></div>
    </div>
    
    <section class="visitor__section visitor__section--games">
        <h2 class="visitor__section__title">Nos jeux</h2>
        <p class="visitor__section__paragraph">Des jeux, en veux-tu? En voilà!!</p>

        <div class="gallery">
            <div class="gallery__column">
                <a href="https://unsplash.com/@jeka_fe" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/_cvwXhGqG-o/300x300" alt="Portrait by Jessica Felicio" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
                    </figure>
                </a>

                <a href="https://unsplash.com/@oladimeg" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/AHBvAIVqk64/300x500" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Oladimeji Odunsi</figcaption>
                    </figure>
                </a>

                <a href="https://unsplash.com/@a2eorigins" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/VLPLo-GtrIE/300x300" alt="Portrait by Alex Perez" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/AR7aumwKr2s/300x300" alt="Portrait by Noah Buscher" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Noah Buscher</figcaption>
                    </figure>
                </a>
                
                <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/dnL6ZIpht2s/300x300" alt="Portrait by Ivana Cajina" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
                    </figure>
                </a>

                <a href="https://unsplash.com/@samburriss" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/tV_1sC603zA/300x500" alt="Portrait by Sam Burriss" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="https://unsplash.com/@marilezhava" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/Xm9-vA_bhm0/300x500" alt="Portrait by Mari Lezhava" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
                    </figure>
                </a>
                
                <a href="https://unsplash.com/@ethanhaddox" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/NTjSR3zYpsY/300x300" alt="Portrait by Ethan Haddox" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
                    </figure>
                </a>

                <a href="https://unsplash.com/@mr_geshani" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/2JH8d3ChNec/300x300" alt="Portrait by Amir Geshani" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
                    </figure>
                </a>
            </div>
            
            <div class="gallery__column">
                <a href="https://unsplash.com/@frxgui" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/FQhLLehm4dk/300x300" alt="Portrait by Guilian Fremaux" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
                    </figure>
                </a>

                <a href="https://unsplash.com/@majestical_jasmin" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/OQd9zONSx7s/300x300" alt="Portrait by Jasmin Chew" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
                    </figure>
                </a>
                
                <a href="https://unsplash.com/@dimadallacqua" target="_blank" class="gallery__link">
                    <figure class="gallery__thumb">
                        <img src="https://source.unsplash.com/XZkEhowjx8k/300x500" alt="Portrait by Dima DallAcqua" class="gallery__image">
                        <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
                    </figure>
                </a>
            </div>
        </div>

        
        <a href="#" class="button button--signin">En voir plus...</a>
    </section>

    <div class="header__separate">
        <div class="header__separate__line" id="advice"></div>
    </div>
    
    <section class="visitor__section visitor__section--advice">
        <h2 class="visitor__section__title">Nos Conseils</h2>
        <p class="visitor__section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium asperiores perferendis commodi vitae, suscipit architecto itaque molestiae dignissimos hic esse iusto expedita, earum reprehenderit illo libero autem corporis magnam ipsam quae. Est rerum dolor alias quis dolorem placeat minima ullam cum asperiores, ratione porro nihil culpa dolores illo. Eaque eligendi earum distinctio vitae numquam quae consequatur rerum libero repudiandae saepe accusantium iusto id vel molestiae doloribus enim voluptas, ab nisi aliquam quos exercitationem. Saepe qui, praesentium error obcaecati hic fugit veritatis soluta necessitatibus dolore eveniet architecto quae. Nam, animi enim iste amet cum voluptas! Cumque culpa fuga quibusdam odit.</p>
        <img src="https://cdn-s-www.republicain-lorrain.fr/images/73B0F103-9ED6-4229-9FC4-C904BFA8BDE5/NW_listE/les-familles-se-retrouveront-avec-le-sourire-autour-de-jeux-de-societe-photo-rl-thierry-nicolas-1573572025.jpg" alt="Des personnes souriantes autour d'un super jeu de société">
    </section>

    <div class="header__separate">
        <div class="header__separate__line" id="details"></div>
    </div>

    <section class="visitor__section visitor__section--details">
        <h2 class="visitor__section__title">Aperçu détaillé</h2>
        
        <img src="" alt="Un extrait photo de la page d'accueil d'un abonné">
    </section>

     <div class="header__separate">
        <div class="header__separate__line" id="new"></div>
    </div>
    
    <section class="visitor__section visitor__section--new">
        <h2 class="visitor__section__title">Des nouveautés avant l'heure</h2>
        <img src="" alt="Un jeu fraichement sorti dans les bacs">
        <p class="visitor__section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum accusantium asperiores perferendis commodi vitae, suscipit architecto itaque molestiae dignissimos hic esse iusto expedita, earum reprehenderit illo libero autem corporis magnam ipsam quae. Est rerum dolor alias qui</p>
        
    </section>
    
    <div class="header__separate">
        <div class="header__separate__line" id="crush"></div>
    </div>

    <section class="visitor__section visitor__section--crush">
        <h2 class="visitor__section__title">Vos listes et coups de coeur </h2>
        <p class="visitor__section__paragraph">Accéder a votre liste de souhait, vos favoris et la possibilité de créer vos top liste selon vos envie</p>   
    </section>

    <div class="header__separate">
        <div class="header__separate__line" id="delivery"></div>
    </div>

    <section class="visitor__section visitor__section--delivery">
        <img src="" alt="Personnage qui porte un carton">
        <h2 class="visitor__section__title">A la maison, en déplacement. Tu cliques, on livre en 24/48h!</h2>
    </section>

    <div class="header__separate">
        <div class="header__separate__line" id="offers"></div>
    </div>

    <section class="visitor__section visitor__section--offers" >
        <h2 class="visitor__section__title">Nos offres</h2>
        
        <div class="offers__container">
            <div class="offers__container__standard">
                <h4>Standard</h4>
                <p class="visitor__section__paragraph">9,99€</p>
                <p class="visitor__section__paragraph">7 juex chaque mois</p>
            </div>
        </div>
        <a href="#" class="button button--signin">C'est trop bien !!! Je m'inscris</a>
    </section>
      <div class="header__separate">
        <div class="header__separate__line" id="faq"></div>
    </div>

    <section class="visitor__section visitor__section--faq" >
        <h2 class="visitor__section__title">Foire Aux Questions</h2>
        <div class="faq__container">
            <div class="faq__container__box">
                <input type="checkbox" name="question" id="question1" class="faq__container__box__checkbox">
                <label for="question1">
                    <h4 class="faq__container__box__question">7 jeux par mois ? Donc 14,99€ j'ai 12 jeux ?</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
            <div class="faq__container__box">
                <input type="checkbox" name="question" id="question2" class="faq__container__box__checkbox">
                <label for="question2">
                    <h4 class="faq__container__box__question">C'est quoi la location premium?</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question3" class="faq__container__box__checkbox">
                <label for="question3">
                    <h4 class="faq__container__box__question">Quelles sont les délais de livraison?</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question4" class="faq__container__box__checkbox">
                <label for="question4">
                    <h4 class="faq__container__box__question">Si je veux un jeu que vous n'avez pas?</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question5" class="faq__container__box__checkbox">
                <label for="question5">
                    <h4 class="faq__container__box__question">Si j'abîme un le jeux comment fait-on ?</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question6" class="faq__container__box__checkbox">
                <label for="question6">
                    <h4 class="faq__container__box__question">Si il manque des pièces?</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question7" class="faq__container__box__checkbox">
                <label for="question7">
                    <h4 class="faq__container__box__question">Je voudrais connaître la règle avant de recevoir!</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question8" class="faq__container__box__checkbox">
                <label for="question8">
                    <h4 class="faq__container__box__question">Je veux plus de jeux !!</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
             <div class="faq__container__box">
                <input type="checkbox" name="question" id="question9" class="faq__container__box__checkbox">
                <label for="question9">
                    <h4 class="faq__container__box__question">Une livraison par mois ce n'est pas assez !!!</h4>
                </label>
                 <p class="faq__container__box__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui, quasi facilis magnam quod reiciendis sapiente alias ad doloremque autem exercitationem tenetur quis asperiores, nobis fugiat inventore numquam quos libero temporibus! Quae assumenda odit, minima iure eveniet eum doloribus beatae officiis recusandae tenetur nam earum commodi, ipsa ex dolor a? Cupiditate!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis error provident, dolorum omnis quia harum consectetur quis voluptates deleniti!</p>
            </div>
        </div>
        
    </section>
    
</main>