.container__slider {
    padding-top: 50px;
}
.slider {
    height: 50vh;
    position: relative;
}

.slider img {
    object-fit: contain;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0 ;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.next, .previous {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next {
    right: 20rem;
}

.previous {
    left: 20rem;
}

@media (max-width: 2000px) {
    .next {
        right: 1rem;
    }

    .previous {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .next {
        right: 1rem;
    }

    .previous {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}

@media (max-width: 900px) {
    .next {
        right: 1rem;
    }

    .previous {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}

