.container__slider {
    padding-top: 50px;
    position: relative;

    &__title {
        @include flex-djaw(0, center, center);
        width: 150px;
        height: 100px;
        border-radius: 50%;
        background-color: $clr-principal-tone;
        position: absolute;
        z-index: 100;
        transform: rotate(-20deg);
        left: 120px;

        &__text {
            color: $clr-contrast;
            font-size: 0.8em;
        }
        
    }
}
.slider {
    height: 50vh;
    position: relative;
}

.slider img {
    object-fit: contain;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0 ;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.next-btn, .previous-btn {
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next-btn {
    right: 20rem;
}

.previous-btn {
    left: 20rem;
}

@media (max-width: 2500px) {
    .next-btn {
        right: 1rem;
    }

    .previous-btn {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}


@media (max-width: 2000px) {
    .next-btn {
        right: 1rem;
    }

    .previous-btn {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .next-btn {
        right: 1rem;
    }

    .previous-btn {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}

@media (max-width: 900px) {
    .next-btn {
        right: 1rem;
    }

    .previous-btn {
        left: 1rem;
    }

    .slider a img {
        height: 80%;
        width: 50%;
    }
}

