@keyframes carousel {
    0% {left: 0;}
    // 5% {left: 0;}
    // 15% {left: -33.4%;}
    // 29% {left: -33.4%;}
    // 31% {left: -66.7%;}
    // 43% {left: -66.7%;}
    // 45% {left: -100.1%;}
    // 60% {left: -100.1%;}
    // 62% {left: -133.4%;}
    // 76% {left: -133.4%;}
    // 78% {left: -166.8%;}
    // 92% {left: -166.8%;}
    // 95% {left: -200%;}
    100% {left: -200%;}  
}

@keyframes carousel1000 {
    0% {left: 0;}
    11% {left: 0;}
    13% {left: -50%;}
    24% {left: -50%;}
    26% {left: -100%;}
    37% {left: -100%;}
    39% {left: -150%;}
    50% {left: -150%;}
    52% {left: -200%;}
    63% {left: -200%;}
    65% {left: -250%;}
    76% {left: -250%;}
    78% {left: -300%;}
    89% {left: -300%;}  
    91% {left: -350%;}
    100% {left: -350%;}
}

@keyframes carousel600 {
    0% {left: 0;}
    9% {left: 0;}
    11% {left: -100%;}
    20% {left: -100%;}
    22% {left: -200%;}
    31% {left: -200%;}
    33% {left: -300%;}
    42% {left: -300%;}
    44% {left: -400%;}
    53% {left: -400%;}
    55% {left: -500%;}
    64% {left: -500%;}
    66% {left: -600%;}
    75% {left: -600%;}  
    77% {left: -700%;}
    86% {left: -700%;}
    88% {left: -800%;}
    97% {left: -800%;}
    100% {left: -800%;}
}

.carousel {
    @include flex-djaw(row, space-around, center);
    width: 95%;

    &__arrow {
        border: 2px black solid;
        border-radius: 10px;
        padding: 5px;
    }

    &__window {

    
        
        border: 2px black solid;
        border-radius: 10px;
        width: 80%;
        overflow: hidden;
        &__cards {
            @include flex-djaw(row, start, center);
            width: 300%;
            position: relative;
            top: 0;
            left: 0;
            
            animation: carousel 5600ms linear infinite alternate;
            animation-play-state: paused; 
            @media (max-width: 1000px) {
                width: 450%;  
                animation: carousel1000 25s linear infinite alternate;
            }
            @media (max-width: 600px) {
                width: 900%;
                animation: carousel600 35s linear infinite alternate;
            }
            
            // &:hover {
            //     animation-play-state: paused;
            // }
        }
        &__card {
            border: 2px black solid;
            border-radius: 10px;
            width: 30%;
            margin: 2px;
            padding: 5px;
            @media (max-width: 1000px) {
                width: 49%;  
            }
            @media (max-width: 600px) {
                width: 99%;  
            }
        }
    }
}
