.footer {
    border-top: 2px black solid;
    padding: 10px;
    background-color: white;
    position: static;
    bottom: 28px;
    


    &__navigation__list {
    @include flex-djaw(0, space-around);
    }
}