.table {
    border: 2px solid black;
    width: 100%;
    margin : 15px;
    
    

    &--principal {
        
    }

    &__title {
       font-size: 3em; 
    }
    
    &__head__col{
        text-align: center;
        border: 2px solid black;
        padding: 10px;

        &--border-off {
            border: none;
            background-color: white;
        }
    }

    &__row {

        &--odd {
            background-color: gray;
        }
        
        &__col {
            text-align: center;
            border: 2px solid black;
            padding: 10px;
        }
    }
}