.visitor__section {

    &__title {
        text-align: center;
        margin-top: 150px;
    }

    &__paragraph {
        text-align: justify;
        padding: 10px 12.5%;
        line-height: 25px;
    }
}