button {
    border: none;
    background: none;
 }
 
 // .button__arround{
 //     padding: 5px;
 //     border: red solid;
 // }

 .button {
     border: black solid 2px;
     margin: 5px;
     padding: 7px;
     font-weight: bold;
     border-radius: 10px;
     transition:all 200ms ease-in-out;
 
     &:hover{
         color: white;
     }
 
     &--add-chest {
         background-color: $clr-add;
         padding: 2px 5px;
         font-size: 0.5em;
         &:hover{
            background-color: $clr-add-hover;
        }
     }

     &--delete-chest {
        background-color: $clr-delete;
        padding: 2px 5px;
        font-size: 1em;
        font-weight: bold;
        border: 2px solid black;
        border-radius: 10px;
        &:hover{
           background-color: $clr-delete-hover;
       }
    }

     &--signin {
         background-color: $clr-signin;
         &:hover {
             background-color: darken($clr-signin, 15%);
          }
     }
 
     &--faq {
         background-color: $clr-faq;
         &:hover {
             background-color: darken($clr-faq, 15%);
          }
     }
 
     &--log-in-out {
        background-color: $clr-login;
         
         &:hover {
             background-color: darken($clr-login, 15%);
          }
     }
 
     &--1 {
         background-color: $clr-1;
         &:hover {
             background-color: darken($clr-1, 15%);
          }
     }
 
     &--2 {
         background-color: $clr-2;
         &:hover {
             background-color: darken($clr-2, 15%);
          }
     }
 
     &--3 {
         background-color: $clr-3;
         &:hover {
             background-color: darken($clr-3, 15%);
          }
     }
 
     &--4 {
         background-color: $clr-4;
         &:hover {
             background-color: darken($clr-4, 15%);
          }
     }
 
     &--5 {
         background-color: $clr-5;
         &:hover {
             background-color: darken($clr-5, 15%);
          }
     }
 
 }
 
 .button {
    font-weight: bold;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    transition: all 400ms ease;

    &:hover {
        border: 2px solid white;
    }

    &__principal {
        background-color: $clr-btn-principal;

        &--nav {
            margin: 0px;
            border: none;
            box-shadow: none;
        }

        &:hover {
            box-shadow: 0px 0px 0px 3px  $clr-btn-principal-hover; 
        }
    }

    &__secondary {
        background-color: $clr-btn-secondary;

        &--nav {
            margin: 0px;
            padding: 2px;
        }

        &:hover {
            color: black;
            box-shadow: 0px 0px 0px 3px $clr-btn-secondary-hover; 
        }
    }

    &__ter {
        background-color: $clr-btn-ter;

        &:hover {
            box-shadow: 0px 0px 0px 3px $clr-btn-ter-hover; 
        }
    }

    &__return {
        background-color: $clr-btn-return;
        text-decoration: underline;
        &:hover {
            color: black;
            box-shadow: 0px 0px 0px 3px $clr-btn-return-hover; 
        }
    }

    &__delete {
        background-color: $clr-btn-delete;
        &:hover {
            box-shadow: 0px 0px 0px 3px $clr-btn-delete-hover; 
        }
    }
}
 