.button__switch-checkbox {
    position: absolute;
    height: 70%;
    transition: all 400ms ease-in-out, box-shadow 200ms;
    top: 0;
    left: 50%;
    right: 0%;
    background-color: rgb(207, 207, 207);
    border: 2px solid white;
    box-shadow: gray 0px 0px 0px 2px;

    &:hover {
        border: 2px solid white;
        box-shadow: $clr-principal-hover 0px 0px 0px 3px;
    }

    .button__checkbox:checked + & {
        background-color: $clr-principal;
        border: 2px solid rgb(255, 255, 255);
        box-shadow: gray 0px 0px 0px 2px;
        left: 0%;
        right: 50%;

        &:hover {
            border: 2px solid white;
            box-shadow: $clr-principal-hover 0px 0px 0px 3px;
        }
        
    }

    &__parent {
        position: relative;
        width: 100%;
        height: 120px;
    }

    &--delete {
        background-color: $clr-btn-delete;
        padding: 2px 5px;
        font-size: 1em;
        font-weight: bold;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
}