$clr-delete: red;
$clr-modify: blue;
$clr-add: green;
$clr-comment: yellow;
$clr-confirm: green;

$clr-checked:green;
$clr-unchecked:red;

$clr-signin: rgb(255 177 32);
$clr-faq: #ce6ba6;
$clr-login: #eb5356;

$clr-1: #20cbce;
$clr-2: rgb(235, 151, 41);
$clr-3: rgb(255, 0, 212);
$clr-4: rgb(0, 238, 255);
$clr-5: rgb(30 141 230);

$clr-bg-title: grey;
$clr-burgerLines: black;
$clr-burgerLines-invisible: rgba(0, 0, 0, 0);

$clr-button-form : rgb(255 177 32);
$clr-button-form-hover: rgb(27, 141, 223);
$clt-button-chest: rgb(27, 141, 223);
$clt-button-chest-hover: rgb(21, 42, 224);