$clr-delete: red;
$clr-modify: blue;
$clr-add: green;
$clr-comment: yellow;

$clr-checked:green;
$clr-unchecked:red;

$clr-signin: rgb(73, 218, 73);
$clr-faq: rgb(47, 108, 221);
$clr-login: rgb(221, 47, 70);

$clr-1: yellow;
$clr-2: rgb(235, 151, 41);
$clr-3: rgb(255, 0, 212);
$clr-4: rgb(0, 238, 255);
$clr-5: yellow;

$clr-bg-title: grey;