.chest-table {
    @include flex-djaw(column, 0, center);
    width: 100%;
    border: 2px solid black;
    margin: 10px 0px;

    &__content {
        @include flex-djaw(column, 0, center); 
        width: 100%;
    }

    &__row {
        @include flex-djaw(0, space-around, center);
        width: 100%;
        padding: 5px 0px;
        @media (max-width: 700px) {
            @include flex-djaw(row, space-around, center, wrap);
        }
        // border-top: 2px solid black;

        &--odd {
            background-color: $clr-table-bg;
        }

        &__col {
            width: 25%;
            @include flex-djaw(column, center, center);
            text-align: center;
            @media (max-width: 700px) {
                margin: 15px 0px;
                width: 50%;
            }

           &__image {
                object-fit: contain;
                max-height: 50px;
            }  

            &__p {
                text-align: center;
            }

            &__info {
                @include flex-djaw(row, space-around, center);
                width: 100%;
            }

            &--option {
                @media (max-width: 700px) {
                    display: none;
                }
            }

            // &__button {
            //     width: 100px;
            //     text-align: center;
            //     background-color: rgb(85, 130, 255);

            //     &:hover {
            //         background-color: rgb(41, 0, 155);  
            //     }
            // }
        }
       
    }
}